html
{ height: 100%;}

*
{ margin: 0;
  padding: 0;}

body
{ font: normal 85% Arial, Helvetica, sans-serif;
  background: #676767 url(../images/background.jpg) repeat;
  color: #000;
}

p
{ padding: 0 0 10px 0;
  color: #FFF;
  line-height: 1.7em;
  font-size: 100% }

img
{ border: 0;}

h1, h2, h3, h4, h5, h6
{ font: normal 175% Arial, Helvetica, sans-serif;
  color: #FFF;
  text-shadow: 1px 1px #1D1D1D;
  letter-spacing: .4px;
  margin: 0 0 10px 0;}

h1{
  text-shadow: 0.3px 0.3px #FFF;
  letter-spacing: 2px;  
}

h4
{ color: #FFF;
  margin: 0;
 padding: 0 0 0px 0;
  font: normal 150% Arial, Helvetica, sans-serif;
  line-height: 1.5em;
	text-shadow: 0.3px 0.3px #FFF;
	letter-spacing: 2px;
}
a
{ color: #FFF;
  font-weight: bold;
  background: transparent;
  text-decoration: underline;}

a:hover
{ text-decoration: none;}

ul
{ margin: 2px 0 22px 30px;
  line-height: 1.7em;
  font: normal 130% Arial, Helvetica, sans-serif;
 text-shadow: 1px 1px #1D1D1D;
  letter-spacing: .3px;

  color: #FFFFFF}

ol
{ margin: 8px 0 22px 20px;}

ol li
{ margin: 0 0 11px 0;}

#main,  #menubar, #site_content
{ margin-left: auto;
  margin-right: auto;}

#menubar
{ width: 1000px;
  height: 50px;
  text-align: center;
  background: #4d0000;
  opacity: .9;
  }

#welcome{
  padding-top: 20px;
  padding-bottom: 20px;
}
#welcome H1
{ font: normal 400% Arial, Helvetica, sans-serif;
  letter-spacing: .4px;
  color: #FFF;
  text-shadow: 3px 3px #000000;
}

ul#menu
{ margin:0;
  margin: 0 0 0 20px;}

ul#menu li
{ padding: 0 0 0 0px;
  list-style: none;
  margin: 2px 0 0 0;
  display: inline;
  background: transparent;}

ul#menu li a
{ float: left;
  font: bold 100% Arial, Helvetica, sans-serif;
  text-align: center;
  color: #FFFFFF;
  text-decoration: none;
  height: 24px;
  padding: 16px 20px 10px 20px;
  background: transparent; }

#site_content
{ width: 980px;
  padding-left: 20px;
  overflow: hidden;
  margin: 0 auto;
  background: #000000;
  opacity:0.8;
  }

.content_item
{ width: 980px;
  margin-top: 20px;
  margin-bottom: 20px;}

  #footer
  { width: 980px;
    height: 20px;
    padding-left: 200px;
    padding-top: 20px;
    text-align: center;
    background: transparent;
    text-shadow: 0.2px 0.2px #FFF;}
